<div class="modal fade" id="add-data-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавление категории</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="data-category-name" class="col-sm-2 control-label">Имя</label>
                        <div class="col-sm-10">
                            <input id="data-category-name" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="data-category-type" class="col-sm-2 control-label">Тип</label>
                        <div class="col-sm-10">
                            <select id="data-category-type" class="form-control">
                                <option value="InfoBlock" selected>Блок</option>
                                <option value="ListBlock">Список</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="add-data-category-submit-button" type="button" class="btn btn-my-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-data-block-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавление блока</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="data-block-title" class="col-sm-2 control-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input id="data-block-title" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="add-data-block-submit-button" type="button" class="btn btn-my-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-data-holder-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавление поля для данных</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="data-holder-title" class="col-sm-2 control-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input id="data-holder-title" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="data-holder-type" class="col-sm-2 control-label">Тип</label>
                        <div class="col-sm-10">
                            <select id="data-holder-type" class="form-control">
                                <option value="Text" selected>Текст</option>
                                <option value="TextArea">Большой текст</option>
                                <option value="Date">Дата</option>
                                <option value="Time">Время</option>
                                <option value="DateTime">Дата и время</option>
                            </select>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="add-data-holder-submit-button" type="button" class="btn btn-my-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-data-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Изменение категории</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="data-category-name" class="col-sm-2 control-label">Имя</label>
                        <div class="col-sm-10">
                            <input id="data-category-name" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="edit-data-category-submit-button" type="button" class="btn btn-my-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-data-block-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Изменение блока</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="data-block-title" class="col-sm-2 control-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input id="data-block-title" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="edit-data-block-submit-button" type="button" class="btn btn-my-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-data-holder-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Изменение поля для данных</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="data-holder-title" class="col-sm-2 control-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input id="data-holder-title" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="edit-data-holder-submit-button" type="button" class="btn btn-my-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-image-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавление изображения</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="image-title" class="col-sm-2 control-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input id="image-title" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image-file" class="col-sm-2 control-label">Файл</label>
                        <div class="col-sm-10">
                            <input id="image-file" type="file" accept="image/*"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image-desc" class="col-sm-2 control-label">Описание</label>
                        <div class="col-sm-10">
                            <input id="image-desc" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="add-image-submit-button" type="button" class="btn btn-my-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="image-carousel-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider"></div>
                    </div>
                    <div class="col-md-4 image-details">
                        <div class="image-details__title image-title">
                            <div class="image-title__text">Заголовок</div>
                            <div class="image-title__value">
                                <textarea id="slider-image-title" rows="3" maxlength="50"></textarea>
                            </div>
                        </div>
                        <div class="image-details__desc image-desc">
                            <div class="image-desc__text">Описание</div>
                            <div class="image-desc__value">
                                <textarea id="slider-image-desc" rows="10" maxlength="1000"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pages modal-footer__pages">
                    <div class="pages__current-page"></div>
                    <div class="pages__separator">/</div>
                    <div class="pages__count"></div>
                </div>
                <div class="buttons modal-footer__buttons">
                    <button id="set-image-as-avatar-button" type="button" class="btn">Сделать изображением персоны</button>
                    <button id="save-image-submit-button" type="button" class="btn">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>