<div class="modal fade" id="add-data-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавление категории</h3>
            </div>
            <div class="modal-body">
                <div>Имя</div>
                <input id="data-category-name" type="text" />
                <div>Тип</div>
                <select id="data-category-type">
                    <option value="InfoBlock" selected>Блок</option>
                    <option value="ListBlock">Список</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="add-data-category-submit-button" type="button" class="btn btn-my-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-data-block-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавление блока</h3>
            </div>
            <div class="modal-body">
                <div>Заголовок</div>
                <input id="data-block-title" type="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="add-data-block-submit-button" type="button" class="btn btn-my-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-data-holder-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавление поля для данных</h3>
            </div>
            <div class="modal-body">
                <div>Заголовок</div>
                <input id="data-holder-title" type="text" />
                <div>Тип</div>
                <select id="data-holder-type">
                    <option value="Text" selected>Текст</option>
                    <option value="TextArea">Большой текст</option>
                    <option value="Date">Дата</option>
                    <option value="Time">Время</option>
                    <option value="DateTime">Дата и время</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="add-data-holder-submit-button" type="button" class="btn btn-my-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-data-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Изменение категории</h3>
            </div>
            <div class="modal-body">
                <div>Имя</div>
                <input id="data-category-name" type="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="edit-data-category-submit-button" type="button" class="btn btn-my-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-data-block-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Изменение блока</h3>
            </div>
            <div class="modal-body">
                <div>Заголовок</div>
                <input id="data-block-title" type="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="edit-data-block-submit" type="button" class="btn btn-my-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-data-holder-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Изменение поля для данных</h3>
            </div>
            <div class="modal-body">
                <div>Заголовок</div>
                <input id="data-holder-title" type="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-my-dark" data-dismiss="modal">Отмена</button>
                <button id="edit-data-holder-submit-button" type="button" class="btn btn-my-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>