@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "GenDrevo";
    ViewBag.Title = "Генеалогичекое древо";
}

@section Styles
{
    <link href="~/css/StartDrevoStyle.css" type="text/css" rel="stylesheet">
}

@section Scripts
{
    <script src="~/js/StartTree.js"></script>
}

@section HeaderText
{
    <div id="headerText">Добро пожаловать. <p>Начните ваше генеалогическое древо здесь!</p></div>
}

<div id="startBlock">
    <img src="~/images/addBlack.png" id="imgAdd" />
</div>