#person-data-block,
.data-blocks,
.data-holders {
   display: none;
}

/* Data categories */
.data-categories__item {
    cursor: pointer;
    border: 1px solid #000;
    height: 104px;
    text-align: center;
    padding-top: 35px;
    background-color: #454545;
    color: #acacac;
    border-top: none;
    transition: 
        background-color 0.5s, 
        border-color 0.5s, 
        border-left-width 0.5s,
        color 0.5s;
}

.data-categories__item:first-child {
    border-top: 1px solid #000;
}

.data-categories__item:hover {
    background-color: #FFF;
    border-color: #007cd3;
    border-left-width: 40px;    
    color: #0096FF;
    transition: 
        background-color 0.5s, 
        border-color 0.5s, 
        border-left-width 0.5s,
        color 0.5s;
}

.data-categories__item_active {
    background-color: #FFF;
    color: #313538;
    border-left: 40px solid #0096FF;
    border-color: #0096FF;
    cursor: default;
}

.data-categories__item_active:first-child {
    border-color: #0096FF;
}

.person-data-block__data-categories {
    margin: 5px 0px;
    width: 100%;
    float: left;
}
/* Data blocks */
.data-blocks {
}

.data-blocks__item {
    padding: 5px 0;
    cursor: pointer;
    margin: 0px auto;
    max-width: 700px;
}

.data-blocks__item:hover .data-block__body {
    background-color: #2f134a;    
    transition: all 0.5s;
}

.data-block .data-block__header {
    background-image: url("../images/TopBlockPreview.png");
    background-repeat: no-repeat;
    height: 107px;
    margin-bottom: -50px;
    position: relative;
    z-index: 2;
}

.data-block .data-block__footer {
    background-image: url("../images/BottomBlockPreview.png");
    background-repeat: no-repeat;
    height: 131px;
    margin-top: -80px;
    position: relative;
    z-index: 2;
}

.data-block .data-block__content {
    color: #AAA;
    float: left;
    position: relative;
    min-height: 1px;
    width: 90%;
}

.data-block .data-block__selector {
    float: left;
    position: relative;
    min-height: 1px;
    width: 10%;
    display: flex;
    justify-content: center;
}

.data-block__selector input {
    width: 45px;
    height: 45px;
}

.data-block .data-block__body {
    padding: 50px 0 80px 0px;
    background-color: #333;
    position: relative;
    display: table;
    width: 100%;
}

.data-block__item {
    padding-left: 20px;
    margin-bottom: 10px;
}

.data-block__content:first-child {
    margin-top: 10px;
}

.data-block__item .data-block__title {
    color: #0096FF;
    display: inline-block;
}

.data-block__item .data-block__value {
    display: inline-block;
}

/* Data holders */
.data-holders {
}

.data-holders__item {
    margin-bottom: 10px;
    border: 1px solid #003E62;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.data-holders .data-holders__item:last-child {
    margin-bottom: 0px;
}

.data-holder {
    display: table;
}

.data-holders__item.data-holder-gender {
    border: none;
}

.data-holder-textarea {
    display: table;
}

.data-holder-textarea .data-holder-textarea__selector {
    width: 10%;
    float: left;
    background-color: #0096FF;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #003E62;
    height: 47px;
    border-radius: 5px 0px 0px 0px;
}

.data-holder-textarea .data-holder-textarea__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.data-holder-textarea .data-holder-textarea__title {
    width: 80%;
    float: left;
    background-color: #0096FF;
    color: #FFF;
    padding: 1% 0;
    text-align: center;
    height: 47px;
    border: 1px solid #003E62;
    border-top: none;
    border-radius: 0px;
}

.data-holder-textarea .data-holder-textarea__title div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.data-holder-textarea .data-holder-textarea__privacy {
    width: 10.002%;
    border-bottom: 1px solid #003E62;
    border-radius: 0px 5px 0px 0px;
    float: left;
    height: 47px;
}

.data-holder-textarea .data-holder-textarea__data {
    width: 100%;
    float: left;
}

.data-holder-textarea .data-holder-textarea__data textarea {
    border: none;
    resize: vertical;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    min-height: 150px;
}

textarea:focus {
    outline: none;
}

.data-holder-gender {
    display: table;
}

.data-holder-gender .data-holder-gender__title {
    width: 40%;
    float:left;
    background-color: #0096FF;
    color: #FFF;    
    padding: 1% 0;
    text-align: center;  
    height: 100%;    
    border: 1px solid #003E62;
    border-radius: 5px;
}

.data-holder-gender .data-holder-gender__title div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.data-holder-gender .data-holder-gender__data {
    width: 60%;
    float: left;
    height: 100%;
    padding: 5px 10px;
}

.data-holder-gender .data-holder-gender__selector {
    float: left;
    background-color: #0096FF;
    display: flex;
    justify-content: center;
    border: 1px solid #003E62;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

.data-holder-gender .data-holder-gender__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.data-holder-gender .data-holder-gender__privacy {
    border: 1px solid #003E62;
    border-radius: 5px;
    float: left;
    height: 100%;
}

.data-holder .data-holder__selector {
    float: left;
    background-color: #0096FF;
    display: flex;
    justify-content: center;
    border-right: 1px solid #003E62;
    border-radius: 5px 0px 0px 5px;
}

.data-holder .data-holder__selector .checkbox input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.data-holder .data-holder__title {
    width: 30%;
    float:left;
    background-color: #0096FF;
    color: #FFF;
    text-align: center;  
    height: 100%;
}

.data-holder .data-holder__title div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.data-holder .data-holder__data {
    width: 50%;
    float: left;
    height: 100%;
    padding: 1px 5px;
}

.data-holder__data input {
    width: 100%;
    height: 100%;
    border: none;
}

input:focus {
    outline:none;
}

.data-holder .data-holder__privacy {
    width: 10.002%;
    float: left;
    height: 100%;
}

/* Person data block data holders*/
.person-data-block .person-data-block__data-holders .data-holders__item .data-holder__selector {
    width: 10%;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder__title {
    width: 30%;
    border-right: 1px solid #003E62;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder__data {
    width: 50%;
    border-right: 1px solid #003E62;
}

.person-data-block .person-data-block__data-holders {
    width: 95%;
    float: left;
    position: relative;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__selector {
    width: 10%;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__title {
    width: 30%;
    border-radius: 0px 5px 5px 0px;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__data {
    width: 50%;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__privacy {
    width: 10%;
}

/* Create person block data holders*/
.create-person-block .create-person-block__buttons {
    margin: 0px 0px 10px 0px;
    width: 80%;
    float: left;
    position: relative;
    left: 5%;
}

.create-person-block .create-person-block__buttons .btn {
    font-size: 20px;
}

.create-person-block .data-holders {
    display: block;
}

.create-person-block .create-person-block__data-holders .data-holders__item .data-holder__title {
    width: 40%;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid #003E62;
}

.create-person-block .create-person-block__data-holders .data-holders__item .data-holder__data {
    width: 60%;
}

.create-person-block .create-person-block__data-holders .data-holders__item .data-holder__data input {
    border-radius: 0px 5px 5px 0px;
}

.create-person-block .create-person-block__data-holders {
    margin: 10px 0px;
    width: 80%;
    float: left;
    position: relative;
    left: 5%;
}

/* Toolbox */
.toolbox_buttons {
    margin: 5px auto;
    height: 45px;
}

.toolbox_buttons .btn div{
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.button-up .button-up__img {
    background-image: url("../lib/bootstrap/icons/arrow-up.svg");
}

.button-down .button-down__img {
    background-image: url("../lib/bootstrap/icons/arrow-down.svg");
}

.button-copy .button-copy__img {
    background-image: url("../lib/bootstrap/icons/clipboard.svg");
}

.button-delete .button-delete__img {
    background-image: url("../lib/bootstrap/icons/trash.svg");
}

.button-edit .button-edit__img {
    background-image: url("../lib/bootstrap/icons/pencil.svg");
}

.button-back .button-back__img {
    background-image: url("../lib/bootstrap/icons/arrow-left.svg");
}

.button-add .button-add__img {
    background-image: url("../lib/bootstrap/icons/plus.svg");
}

.button-save .button-save__img {
    background-image: url("../lib/bootstrap/icons/check-square.svg");
    float: left;
}

.button-save .btn__vertical-separator {
    float: left;
    width: auto !important;
    display: inline-block;
    margin: 0px 5px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    height: 80%;
}

.button-save .btn__text {
    float: left;
    width: auto !important;
    margin: 0 5px;
    padding: 3px 0;
}

.button-paste .button-paste__img {
    background-image: url("../lib/bootstrap/icons/clipboard-check.svg");
}

.button-privacy .button-privacy__img {
    background-image: url("../lib/bootstrap/icons/lock-fill.svg");
}

.toolbox__horizontal-separator {
    width: 100%;
    margin: 5px 0px;
    border-bottom: 1px solid #ccc;
}

.toolbox__vertical-separator {
    display: inline-block;
    margin: 0px 5px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    height: 80%;
}

#add-data-category-button {
    float: right;
}

#person-data-block #save-button {
    float: right;
}

#person-data-block #save-button .loader {
    display: none;
    float: left;
}

.data-blocks:empty::after {
    content: "Нажмите на + чтобы добавить блок для данных";
}

/* Tabs */
.tab-container.data-holders:empty::after {
    content: "Нажмите на + чтобы добавить данные";
}

.tab-container.images:empty::after {
    content: "Нажмите на + чтобы добавить изображение";
}

.tab-container.videos:empty::after {
    content: "Нажмите на + чтобы добавить видео";
}

.tabs-buttons .tabs-buttons__button {
    height: 75px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
    transition: background-color ease 0.5s, box-shadow ease 0.5s, color ease 0.5s;
}

.tabs-buttons .tabs-buttons__button:hover {
    background: #0096FF;
    box-shadow: 0px 0px 4px #0096FF;
    color: #fff;
    transition: background-color ease 0.5s, box-shadow ease 0.5s, color ease 0.5s;
    border: none;
}

.tabs-buttons .tabs-buttons__button:first-child {
    border-bottom: none;
}

.tabs-buttons .tabs-buttons__button:last-child {
    border-top: none;
}

.tabs-buttons .tabs-buttons__button.tabs-buttons__button_active {
    background: #0096FF;
    box-shadow: 0px 0px 4px #0096FF;    
    color: #fff;
    border: none;
}

.tabs-containers.data-block-content__tabs-containers {
    float: left;
    width: 70%;
    margin: 5px 0px;
}

.tabs-buttons.data-block-content__tabs-buttons {
    float: left;
    width: 30%;
    margin: 5px 0px;
}

/* Button groups */
.create-person-block .btn-group-toggle .btn.active,
.person-data-block .btn-group-toggle .btn.active {
    background-color: #28A745 !important;
    color: #FFF !important;
    border: 1px solid #005300 !important;
}

.btn-group-toggle .btn {
    padding: 7px 10px;
}

/* Loader */
/* Source: https://projects.lukehaas.me/css-loaders/*/
.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: lightgray;
    background: linear-gradient(to right, lightgray 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: lightgray;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background-color: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: background-color .3s ease-in-out;
}

.btn:hover .loader:after {
    background-color: #ebebeb;
    transition: background-color .3s ease-in-out;
}

@keyframes load3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Images */
.images .images__item {
    width: 32%;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2% 0;
    cursor: pointer;
    transition: all ease 0.5s;
}

.images .images__item:hover {
    border-color: #0096FF;
    background-color: #0096FF;
    transition: all ease 0.5s;
}

.image img {
    width: 100%;
    height: 96%;
    position: relative;
}

.image .image__selector {
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.image .image__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

#image-carousel-modal .modal-header {
    position: relative;
    padding: 25px;
    border-bottom-color: #676767;
}

#image-carousel-modal .modal-dialog {
    width: 1000px;
}

#image-carousel-modal .modal-content {
    background-color: #454545;
    min-height: 597px;
}

#image-carousel-modal .modal-header .close {
    position: absolute;
    right: 25px;
    float: none;
    margin-top: -13px;
    color: white;
    font-size: 30px;
}

#image-carousel-modal .modal-header .close:hover {
    color: #676767;
}

#image-carousel-modal .modal-footer {
    border-top-color: #676767;
}

#image-carousel-modal .image-details {
    color: #b1b1b1;
}

#image-carousel-modal .modal-footer__pages {
    float: left;
    width: 30%;
}

#image-carousel-modal .modal-footer__buttons {
    float: right;
    width: 70%;
}

#image-carousel-modal .pages__current-page, .pages__separator, .pages__count {
    float: left;
    color: #b1b1b1;
}

/* Images Slider */
/* Classes names source: https://fls.guru/slick.html */
/* Слайдер */
.slider {
    position: relative;
    padding: 0px 100px;
}

.slick-slider {

}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 0;
    width: 100px;
    height: 100px;
    transform: translateY(-50px);
    border: none;
}

.slick-arrow:focus {
    outline: none;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url(../images/back.png) 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url(../images/forward.png) 0 0 / 100% no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}